.comment-bar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f4f2f2;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
}

.comment-input {
  width: 80%;
  height: 35px;
  border-radius: 40px;
  border: none;
  padding: 1rem;
  margin: 0.5rem;
  text-align: left;
  flex-grow: 1;
}

.comment-input:focus {
  outline: none;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.add-comment-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  min-width: 80px;
  height: 30px;
  background: var(--blue-btn-color);
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  color: white;
  margin: 0 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
  border: none;
  margin-right: 7px;
  flex-shrink: 0;
  transition: background-color 0.3s ease-out;
}

.add-comment-btn:hover {
  background-color: var(--blue-btn-color-hover);
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 30px;
  background: grey;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  color: white;
  margin: 0 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
  border: none;
}

.add-comment-btn:hover {
  background: var(--blue-btn-color-hover);
}

.comment.hidden {
  display: none;
}
