.top-answer-banner {
  margin: 0.25rem 1rem;
  text-align: center;
  background-color: var(--main-hover-color-opacity);
  width: 100%;
  padding: 0.3rem 0;
  color: white;
}

.top-answer-text {
  padding: 0.25rem 1rem;
  padding-bottom: 1rem;
}

.my-anchor-css-class {
  text-decoration: none;
  padding: 0.25rem;
  color: var(--blue-btn-color);
}

.my-anchor-css-class:visited {
  color: var(--blue-btn-color);
}

.answer-author {
  margin: 0rem 1rem;
  padding-bottom: 0.5rem;
  font-size: 12px;
  color: rgba(128, 128, 128, 0.536);
}

.top-answer-flex {
  display: flex;
  flex-direction: column;
}
