/* TODO Add site wide styles */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  /* background: #e5e5e5; */
}

:root {
  --main-color: #bc0909;
  --main-hover-color: #f53232;
  --main-hover-color-opacity: #bc0909b5;
  --blue-btn-color: #24a0ed;
  --blue-btn-color-hover: #24a0edc2;
  --green-btn-color: #4caf50;
  --green-btn-color-hover: #4caf4fc6;
}
