.login-bg-img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.login-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  background-color: transparent;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.login-form-container > label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.login-label {
  /* flex-grow: 1; */
  width: 100%;
  padding: 5px 15%;
  margin: 1rem;
  text-align: left;
  font-weight: 500;
  color: white;
}

.login-input {
  padding: 5px;
  width: 70%;
  height: 2rem;
  border: 1px solid var(--main-color);
}

.login-input:focus {
  outline: none;
  border: 1px solid var(--main-hover-color);
}

.login-btn {
  background-color: var(--blue-btn-color);
  color: white;
  height: 2.5rem;
  width: 6.5rem;
  margin-top: 2rem;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.login-btn:hover {
  cursor: pointer;
  background-color: var(--blue-btn-color-hover);
  color: white;
}

.login-demo-container {
  display: flex;
  width: 70%;
  justify-content: space-around;
}

.signup-btn-link {
  display: flex;
  background-color: var(--green-btn-color);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.signup-btn-link:hover {
  background-color: var(--green-btn-color-hover);
}

.login-text {
  font-weight: 500;
  font-size: 22px;
  color: white;
  width: 70%;
  padding: 1rem 0;
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
}
