.question-area {
  text-decoration: none;
  color: black;
}

.question-area:visited {
  color: black;
}

.question-area:hover {
  text-decoration: underline;
}

.question-text {
  margin: 0.25rem 1rem;
  font-weight: 600;
}
